
on fs
    # create data/gps for GPS daemon
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value

    # make sure data_system dir and perms are properly set.
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps

    # delete gps Factory file
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/smd_started
    rm /data/sv_cno.info

    # IPC sysfs
    chown radio radio /sys/devices/virtual/misc/multipdp/waketime
    symlink /dev/block/mmcblk0p13 /dev/mbin0

# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    class late_start
    user root
    group radio log

on property:init.svc.ril-daemon=restarting
    restart cpboot-daemon

service cpboot-daemon /sbin/cbd -d -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet
    ioprio be 0
